node_modules
*.log*
.nuxt
nuxt
nuxt/
.nitro
.cache
.output
.env
*env
dist
.DS_Store
*.pem
.nuxt/
/mnt/appdata/*
.yarn
yarn
portfolio/.yarn
portfolio/yarn
.users.http
/utils/.users.http
*.http
backup.json
_nuxt
cypress.env.json
cypress/screenshots/*
http-client.env.json