node_modules
.nuxt
nuxt
nuxt/
.nitro
.cache
.cypress-cache
.output
.env
*env
dist
.DS_Store
*.pem
.nuxt/
/mnt/appdata/*
.yarn
yarn
portfolio/.yarn
portfolio/yarn
.users.http
/utils/.users.http
*.http
backup.json
_nuxt
cypress.env.json
cypress/screenshots/*
http-client.env.json
contents.sqlite
prisma/migrations_old/*.sql
kindblank_*.sql
.vercel
.env*
/public/images/**
!/public/images/.gitkeep
/public/wonderlab-components.json
/utils/generated/wonderLabSourceEvidence.ts
