services:
  kind-robots:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: kind-robots
    ports:
      - 3009:3000
    restart: unless-stopped
    environment:
      - DB_CONNECTION=${DB_CONNECTION}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_DATABASE=${DB_DATABASE}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - DATABASE_URL=${DATABASE_URL}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - NUXT_GITHUB_ID=${NUXT_GITHUB_ID}
      - NUXT_GITHUB_SECRET=$NUXT_GITHUB_SECRET}
      - NUXT_GOOGLE_ID=${NUXT_GOOGLE_ID}
      - NUXT_JWT_SECRET=${NUXT_JWT_SECRET}
      - NUXT_GOOGLE_SECRET=${NUXT_GOOGLE_SECRET}
      - GOOGLE_REDIRECT_URI=${GOOGLE_REDIRECT_URI}
      - SPOTIFY_CLIENT_ID=${SPOTIFY_CLIENT_ID}
      - SPOTIFY_CLIENT_SECRET=${SPOTIFY_CLIENT_SECRET}
      - SPOTIFY_REDIRECT_URI=${SPOTIFY_REDIRECT_URI}
      - AUTH_ORIGIN=${AUTH_ORIGIN}
      - AUTH_SECRET=${AUTH_SECRET}
      - CYPRESS_RECORD_KEY=${CYPRESS_RECORD_KEY}
