<<<<<<< HEAD
version: '3.8'
=======
>>>>>>> 2e740d4 (Reinitialize repository and commit local changes)
services:
  kind-robots:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: kind-robots
    ports:
<<<<<<< HEAD
      - 3009:3000
=======
      - "3009:3000"
    expose:
      - 3000
    volumes:
      - /mnt/user/appdata/kindrobots:/src
>>>>>>> 2e740d4 (Reinitialize repository and commit local changes)
    restart: unless-stopped
    environment:
      - DB_CONNECTION=${DB_CONNECTION}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_DATABASE=${DB_DATABASE}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - DATABASE_URL=${DATABASE_URL}
      - NUXT_OPENAI_API_KEY=${NUXT_OPENAI_API_KEY}
      - NUXT_GITHUB_ID=${NUXT_GITHUB_ID}
      - NUXT_GITHUB_SECRET=$NUXT_GITHUB_SECRET}
      - NUXT_GOOGLE_ID=${NUXT_GOOGLE_ID}
      - NUXT_JWT_SECRET=${NUXT_JWT_SECRET}
      - NUXT_GOOGLE_SECRET=${NUXT_GOOGLE_SECRET}
      - GOOGLE_REDIRECT_URI=${GOOGLE_REDIRECT_URI}
      - SPOTIFY_CLIENT_ID=${SPOTIFY_CLIENT_ID}
      - SPOTIFY_CLIENT_SECRET=${SPOTIFY_CLIENT_SECRET}
      - SPOTIFY_REDIRECT_URI=${SPOTIFY_REDIRECT_URI}
      - AUTH_ORIGIN=${AUTH_ORIGIN}
      - AUTH_SECRET=${AUTH_SECRET}
<<<<<<< HEAD
=======
    labels:
      -  "traefik.enable: true"
      -  "traefik.http.routers.kindrobots.entryPoints: https"
    networks:
      - cafepurr
networks:
  cafepurr:
    external: true
    name: cafepurr
>>>>>>> 2e740d4 (Reinitialize repository and commit local changes)
